pytest==9.0.2
pytest-asyncio==1.3.0
# Pin to match crewai 1.7.2 requirements
python-dotenv~=1.1.1
tokenizers~=0.20.3
--extra-index-url https://okahu.jfrog.io/artifactory/api/pypi/okahu-patch-pypi/simple
monocle-test-tools==0.7.0b6
